body {
  background-color: #dfe2e2;
}

.box {
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  width: 300px;
  margin: 1em auto;
}

.number {
  background-color: blue;
  border-radius: 15px;
  display: inline;
  color: white;
  padding: 5px 15px;
}
/* ---------------------------- the top of each box  -----------------------------*/
.top {
  display: flex;
  align-items: center;
  margin: 0 5%;
}

.title {
  margin: 0 5%;
}

.top_container {
  display: flex;
  justify-content: center;
}






/* ------------------------------------------------------------------------------*/

.image {
  border-radius: 15px;
}

/* the first image that's the largest */
.head_image {
  width: 100%;
  height: 150px;
  grid-area: first;
}

.second_image {
  width: 100%;
  grid-area: second;
}

.third_image {
  width: 100%;
  grid-area: third;
}

.fourth_image {
  width: 100%;
  grid-area: fourth;
}

.fifth_image {
  width: 100%;
  grid-area: fifth;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "first first"
    "second third"
    "fourth fifth";
    grid-gap: 1em;
  width: 100%;
}

/* ------------------------------------------------------------------------------*/

@media (min-width:900px) {
  .container {
    display: flex; /* this allows the boxes to have a row each in mobile */
  }

  .box {
    margin: 1em;
  }
}
.container {
  /* not having display: flex; here allows the boxes to take a row each */
  align-items: flex-start; /* allows the flex boxes to have height respective to their own boxes */
  justify-content: center;
}


/* ----------------------------------- Design box ---------------------------------------------- */

.design_bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 13%;
  width: 100%;
}

.orange_ball {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  float: left;
}

.design_title {
  margin: 0 5%; /* with aligh-items: center, removing the top and bottom margins centers*/
}

.design_skills {
  background-color: gray;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 5px 20px; /* shape of the skill bars */
  margin: 2% 5% 2% 0;
}


/* ---------------------------------- Web Box -------------------------------------------- */





/* ---------------------------------- C4D Box -------------------------------------------- */
