body {
  background-color: #dfe2e2;
}

.box {
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  width: 300px;
  margin: 1em auto;
}

.number {
  background-color: #0f80fa;
  border-radius: 15px;
  display: inline;
  color: white;
  padding: 5px 15px;
}

.title {
  color: #5d5d5a;
  font-family: sans-serif;
}
/* ---------------------------- the top of each box  -----------------------------*/
.top {
  display: flex;
  align-items: center;
  margin: 0 5%;
}

.title {
  margin: 0 5%;
}

.top_container {
  display: flex;
  justify-content: center;
}


/* ------------------------------------------------------------------------------*/

.image {
  border-radius: 15px;
}

.more {
  background-color: #bbbbbb;
  border-radius: 15px;
  /* text-align: center; */
  color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  vertical-align: middle;
}

.dotdotdot {
  margin: 0 auto;
  font-size: 40px;
  letter-spacing: 3px;
}

.dot_1 {
  padding: 5px;
}

.dot_2 {
  padding: 15px;
}

/* the first image that's the largest */
.head_image {
  width: 100%;
  height: 175px;
  grid-area: first;
}

.second_image {
  width: 100%;
  grid-area: second;
}

.third_image {
  width: 100%;
  grid-area: third;
}

.fourth_image {
  width: 100%;
  grid-area: fourth;
}

.fifth_image {
  width: 100%;
  grid-area: fifth;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "first first"
    "second third"
    "fourth fifth";
  grid-gap: 1em;
  width: 100%;
}

/* ------------------------------------------------------------------------------*/


.container {
  /* not having display: flex; here allows the boxes to take a row each */
  align-items: flex-start; /* allows the flex boxes to have height respective to their own boxes */
  justify-content: center;
}

.grid_system {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  margin: 0 auto;
}

.check_word {
  color: blue;
}

/* ----------------------------------- user box ------------------------------------------------ */

.user_pic {
  border-radius: 100%;
  height: 100px;
  margin: 0 auto;
}

.user_info {
  line-height: 1.5em;
  font-family: sans-serif;
}

.user_grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}


.butn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #0f80fa;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  margin: 0 auto;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* ----------------------------------- Design box ---------------------------------------------- */


.design_bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 13%;
  width: 100%;
}

.orange_ball {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  float: left;
}

.design_title {
  margin: 0 5%; /* with aligh-items: center, removing the top and bottom margins centers*/
}

.design_skills {
  background-color: #bbbbbb;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 5px 20px; /* shape of the skill bars */
  margin: 2% 5% 2% 0;
}

@media (min-width:900px) {
  .container {
    display: flex; /* this allows the boxes to have a row each in mobile */
  }

  .box {
    margin: 1em;
  }

  .user {
    width: 650px; /* start of the first column to the end of the second */
    color: #5d5d5a;
  }

  .user_desc {
    color: #bbbbbb;
  }

  .user_grid {
    display: flex;
    align-items: center;
    grid-gap: 0.5em;
    text-align: left;
    flex-wrap: wrap;
  }

  .user_pic {
    margin: 0 3%;
  }

  .butn {
    margin: 0 auto 0 30%;
  }
}
