body {
  background-color: #dfe2e2;
}

.box {
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  margin: 1rem;
  width: 300px;
}

.number {
  background-color: blue;
  border-radius: 15px;
  display: inline;
  color: white;
  padding: 5px 15px;
}
/* ---------------------------- the top of each box  -----------------------------*/
.top {
  display: flex;
  align-items: center;
  margin: 0 5%;
}

.title {
  margin: 0 5%;
}

/* ------------------------------------------------------------------------------*/

.image {
  border-radius: 15px;
  margin-bottom: 3%;
}


@media (min-width:900px) {
  .container {
    display: flex; /* this allows the boxes to have a row each in mobile */
  }
}
.container {
  /* not having display: flex; here allows the boxes to take a row each */
  align-items: flex-start; /* allows the flex boxes to have height respective to their own boxes */
}
/* ----------------------------------- Design box ---------------------------------------------- */

.design_bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 13%;
  width: 100%;
}

.orange_ball {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  float: left;
}

.design_title {
  margin: 0 5%; /* with aligh-items: center, removing the top and bottom margins centers*/
}

.design_skills {
  background-color: gray;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 5px 20px; /* shape of the skill bars */
  margin: 2% 5% 2% 0;
}


/* ---------------------------------- Interactive Box -------------------------------------------- */

.interactive_bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ux_image {
  width: 100%;
  height: 100px;
}

.ui_image {
  width: 50%;
  height: 50%;
}
